
.container{
  background-image: linear-gradient(to right, #ffffff, #e5e1fe, #c8c4fc, #a8a8fb, #838df9, #838df9, #838df9, #838df9, #a8a8fb, #c8c4fc, #e5e1fe, #ffffff);

   
}

#login .center {
  text-align: center;
  
  
  
}


#login .login {
  max-width: 300px;
  margin: 35px auto;
      padding: 20px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #888888;
     background:white

}

#login .login-form{
  padding:0px 25px;
}
